<!DOCTYPE html>
<html>
	<head>
	    <title>@ViewBag.Title - Ace of Spades Pizza</title>
        <base href="/" />
        @Styles.Render("~/bundles/css")
	</head>
    <body ng-app="PizzaApp">
	    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="/" name="home">Ace of Spades Pizza</md-nav-item>
            <md-nav-item md-nav-href="/orders" name="orders">Order history</md-nav-item>
        </md-nav-bar>

        <div class="container body-content">
            @RenderBody()
            
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Ace of Spades Pizza</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/app")

        <script src="~/Scripts/vendor/angular-material.min.js"></script>
        <script src="~/Scripts/vendor/angular-animate.min.js"></script>
        <script src="~/Scripts/vendor/angular-aria.min.js"></script>
	</body>
</html>
