<!DOCTYPE html>
<html>
	<head>
	    <title>@ViewBag.Title - Ace of Spades Pizza</title>

        @Styles.Render("~/bundles/css")
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
	</head>
    <body ng-app="PizzaApp">
	    <md-toolbar class="md-whiteframe-1dp md-secondary" layout="row" style="background:#222;">
            <md-button ng-href="/" name="home">Ace of Spades Pizza</md-button>
            <md-button ng-href="/orders" name="orders">Order history</md-button>
        </md-toolbar>

        <div class="container body-content">
            @RenderBody()
        </div>

        <hr />
        <footer layout="row" layout-align="center">
            <p>&copy; @DateTime.Now.Year Ace of Spades Pizza</p>
        </footer>

        @Scripts.Render("~/bundles/app")
        @Scripts.Render("~/bundles/vendor")
	</body>
</html>
